.table{
    width: 100%;
    padding: 60px 0;
    td{
        border: black 1px solid;
        padding: 2rem;
        text-align: center;
    }
    th{
        border: black 1px solid;
        padding: 2rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }
}